.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(236, 240, 252);
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(112, 145, 216);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header button {
    margin-left: 20px;
}

header h1 {
    margin: 20px;
}

.content {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img {
    flex: 1;
    max-width: 300px;
    height: auto;
}

.scores {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scores * {
    box-sizing: border-box;
    margin: 5px 0px;
    padding: 10px;
    width: 100%;
}