
<div class="product">
    <header>
        <button (click)="returnToScanner()" class="btn btn-success">Return</button>
        <h1 >{{product.product_name}}</h1>
    </header>  
    <div class="content">
        <img src={{product.image_url}} alt="Product" class="p-4 m-4 img-thumbnail">
        <div class="scores">
            <app-nova-score [score]="product.nova_group - 1" *ngIf="product.nova_group"></app-nova-score>   
            <app-nutri-score [grade]="product.nutriscore_grade" *ngIf="product.nutriscore_grade"></app-nutri-score>
        </div>
    </div>
    
</div>